# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.log
*.db
*.sqlite3
.env
.env.*

# Python virtual environments
.venv/
venv/

# FastAPI/Backend
*.log
*.db

# React/Frontend
node_modules/
dist/
build/
*.env.local
*.env.development
*.env.production
*.env.test
.env

# System/Misc
.DS_Store
*.swp
*.bak
*.tmp

# Docker
*.dockerignore
Dockerfile
 